@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Gobold';
    src: url(../font/Gobold\ Regular.otf);
    font-variation-settings: 'wght' 400, 'wdth' 100;
      
}


@font-face {
    font-family: "Myriad Variable Concept";
    src: url("https://db.onlinewebfonts.com/t/3a86b8ec8855002aad8b288eaba8915d.eot");
    src: url("https://db.onlinewebfonts.com/t/3a86b8ec8855002aad8b288eaba8915d.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/3a86b8ec8855002aad8b288eaba8915d.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/3a86b8ec8855002aad8b288eaba8915d.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/3a86b8ec8855002aad8b288eaba8915d.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/3a86b8ec8855002aad8b288eaba8915d.svg#Myriad Variable Concept")format("svg");
}

/* Todas las propiedades CSS */
:root{
    --main_font--:"Myriad Variable Concept", sans-serif;
    --secondary_font--:"Gobold", sans-serif;
    --primary_font--:  "Myriad Variable Concept", sans-serif;

    --colorA--:#436EAF;
    --colorN--: black;
    --colorG--:#6A6055;

    /*-------------------------COLOR PALLETE-------------------------*/
    
}


/* First line------------------------------------*/
*{
    box-sizing: border-box;
    font-family: var(--secondary_font--);
    text-decoration: none;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    

}


body, html {
    margin: 0;
    padding: 0 !important;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: whitesmoke;
  }

.navbar{
    position: fixed;
    z-index: 100;
    width: 100vw;
    padding: 0  3rem ;
}


.nav-link{
align-items: center;
margin: auto;
font-family: var(--main_font--);

}


.nav-item{
align-content: center;
}


.dropdown-menu{
    background-color: none;
}

.dropdown-item{
    font-family: var(--main_font--);
}


.offcanvas{
    max-width: 80vw;
    text-align: center;
}



.bi-list-nested{
    width: 32px;
    height: 32px;
    
}



.navbar-toggler{
    transition:all  .1s ease-in-out;

}         





#icoprincipal{
    max-width: 50px;
    padding: 10%;
    
    
}






/*---------------------------------Principal----------------------*/

section{
    background-color: whitesmoke;
    margin: 0;
    padding: 1px;
    
 }







#portbackground{ /* DEfine images in background */
    display:grid;
    margin: 0;
    width: 100vw;
    height: 90vh;
    padding: 0;
    text-align: center;
    background-image: url(../images/carreteprincipal\ compr.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    grid-template-columns: 30vw 30vw;
    grid-template-rows: 20vw ;
    justify-content: center;
    align-content: center;
    
    
    
}

#destinobackground{ /* DEfine images in background */
    display:grid;
    margin: 0;
    width: 100vw;
    height: 40vh;
    padding: 0;
    text-align: center;
    background-image: url(../images/mapa\ mendoza.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    justify-content: center;
    align-content: start;
    
    
   
    
    
    
}






#logoprincipal {  /* define main text*/ 
    
    display: block;
    
   
    width: 20vw;
    
    
}


#portbackground div{
    color: white;
    justify-content: center;
    text-align: center;
    padding: 0px;
    align-content: center;
}

#subtitle{
font-family: var(--primary_font--) ;
font-weight: 500;


}


.maintext{
    margin: auto;
    padding: 0;
    display: inline;
    font-size: auto;

}

#rnsp{
    font-size:large;

}









h2{
    text-align: center;
    font-family: var(--primary_font--);
    margin: 0;
    padding: 2.5em;
    font-size: 2em;
    font-weight: 300;
    display: block;
}


#primertitulo{
    font-family: "Nunito", sans-serif;
    font-size: 30px;
    color: white;

}

#objh2{
    color: var(--colorA--);
    font-weight: 550;
    font-family: var(--secondary_font--);
    display: block;
}

#objetivo{  /* Objetivo de la empresa */
    width: 55vw;
    margin: 5em auto;
    text-align: center;
    font-family: var(--main_font--);
    line-height: 2.5em;
}

/* Services----------------------------*/

#aside_a {
    
    display: grid;
    grid-auto-flow: row;
    align-items:start;
    justify-items: center;
    justify-content: space-evenly;
    max-width: 70vw;
    margin: 2em auto 4em auto;
   
    grid-template-columns: auto auto ;
    row-gap: 5em;
   
    
}

.box_services{

    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
    width: 25vw;
    
    
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    overflow: hidden;
    border-radius: 22px;
    position: relative;
    box-shadow: 0 0  50px rgba(0, 0, 0, 0.3) ;

    color: black;
    
}

.img_services{
    width: 80px;
    padding: 15px;
    display: inline;
    margin: 1rem;
    border: 2px solid var(--colorA--);
    border-radius: 50%;
   
    filter: hue-rotate(182) ;
    overflow: visible;

}



.descripiton_services{
    font-family: var(--secondary_font--);
    font-size: 1.4vw;
    text-align: center;
   
    fill: var(--colorA--);
    font-weight: 300;
    
   
}


.box_services ul{
    margin: 2rem 0;
    
    list-style-type: none;
    padding-left: 2rem;
    
    display: flex;
    
    flex-direction: column;
    
}




.box_services li{
    font-family: var(--main_font--);
    text-align: left;
    display: block;
    padding-left: 2rem;
    background-image: url(../images/viñeta.png);
    margin: 1em 0;
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    max-width: 230px;
    background-repeat: no-repeat;
}


.solitbutton{
   
    color: whitesmoke;
    text-align: center;
    font-family: var(--main_font--);
    font-weight: 700;
    cursor: pointer;
    margin: 2em;
    padding: 10px 15px 7px 15px;
    background-color: var(--colorA--);
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0 0  10px rgba(0, 0, 0, 0.3) ;
    transition: all 0.3s ease;

}
a {
    text-decoration: none;
}
.solitbutton:hover{
    background-color: var(--colorG--);
}




/* ---------------------------------------titulo de ubicacion de envios */
#obj2h2{
    display: block;
    color: var(--colorA--);
    font-weight: 550;
    font-family: var(--secondary_font--);
    
    color: black;
    padding: 0;

}

.generalmap {
    display: grid;
    grid-template-columns: 50vw 50vw; 
    
    margin-top: 0;
    
    
    padding: 0;
    margin-bottom: 100px;
    justify-content: center;
    
    align-items: center;
    
  
  
   
}

.svgmap{
    margin: auto;
    display: flex;
    overflow: hidden;
    width: 600px;
    height: 400px;
    justify-items: center;
    align-items:center ;

}



.generalmap svg{
    display: flex;
    margin: 20rem auto auto auto;
    transform: scale(4);
    justify-items: center;
    align-items: center;
    height: auto;
    width: 200px;
    background-color: none;
    padding-bottom: 70px;
    
    
}

.generalmap path{
    fill: whitesmoke;
    stroke: var(--colorN--);
    stroke-width: 1px ;
    
}

.generalmap .soon:hover {
    transition: all 0.4s;
    fill: var(--colorG--);
    
}

.generalmap .chosed{
    transition: all 0.4s;
    fill: var(--colorA--);
}



.generalmap p{
    display: block;
    color: black;
    padding: 1em;
    width: 500px;
    font-family: var(--main_font--);
    font-weight: 400;
    font-size: large;
}


#span1{
    color: var(--colorA--);
    font-family: var(--main_font--);
    font-weight: 700;
}

#span2{
    color: var(--colorG--);
    font-family: var(--main_font--);
    font-weight: 700;
}


#mappng{
    display: none;
}


/* footer -----------------------------------*/

footer{
    padding: 0 15vw ;
    padding-bottom: 0;
    margin-top: 0;
    background-color: var(--colorN--);
    height: auto;
    margin: 0 !important;
}

.mb-3{
    font-family: var(--main_font--);
    color: var(--colorA--);
}
#icodown{
    max-width: 32px;
    max-height: 32px;
    fill: whitesmoke;
}

.my-4{
    margin-bottom: 0 !important;
}

.text-body-secondary svg{
    fill: grey;
    color: grey;
}


/*----------------------Wtsp Button-----------------*/
.whatsapp-btn {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 5vw;
    background-color: #25D366; /* Color de WhatsApp */
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

.whatsapp-btn:hover {
    fill: #128C7E; /* Cambia el color al hacer hover */
}


/* When screen is on mobile--------------------------------- */
@media screen and (max-width: 740px)  {


    .navbar{

        position: fixed;
        font-family: var(--main_font--);
        z-index: 100;
        width: 100vw;
        padding: 0  0 ;

      
      }

      .nav-link{
        font-size: x-large;
      }




/*-------PRINCIPAL-------------*/

#portbackground{ /* DEfine images in background */
    display:grid;
    margin: 0;
    width: 100vw;
    height: 95vh;
    padding: 0;
    text-align: center;
    
    background-size: cover;
    background-repeat: no-repeat;
    grid-template-columns: 80vw;
    grid-template-rows:  40vh 15vh;
    justify-items: center;
    align-items: center;
    
   
    
    
    
}

#logoprincipal {  /* define main text*/ 
    
    display: flex;
    
   
    width: 20vh;
    
    
}


#portbackground div{
    color: white;
    display: flex;
    width: 80vw;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0px;
    margin: auto;
}

.maintext{
   
    padding: 0;
    display: inline;
    font-size: auto;
    
}





    
/* Cuerpo -------------------------------*/

    #objetivo{
        width:80vw;
        margin: 2em auto 4em auto;
       
        display: block;
    }

    #aside_a{

    max-width: 100vw;
    display: block;
    justify-items: center;
    clear: both;
        
    }


    section{
        padding: 10px;
        
        
        
    } 


    



    .box_services{
        display: flex;
        flex-direction: column;
        
       padding-top: 20px;
        width: 80vw;
        
        align-items: center;
        justify-content: center;
        margin: 4em auto;
        border-radius: 22px;
        
        position: relative;
        border: var(--field-drab) 0.5px solid;
        
      }


    .img_services{
        
            width: 80px;
            padding: 15px;
            display: inline;
            
            margin: auto;
            border: 2px solid var(--colorA--);
            border-radius: 50%;
           
            filter: hue-rotate(182) ;
            overflow: visible;
        
        
        
    }


    .descripiton_services{
        font-family: var(--secondary_font--);

        font-size: 3vh;
        text-align: center;
        margin: 1em auto 0 auto;
        display: inline;
        
        
    }



    .box_services ul{
        padding: 0;
        max-width: 65vw;

    }





/*-------------------MAPA------------------------*/

#obj2h2{
    margin-top: 0;
}


.generalmap{

    display: flex;
    
    flex-direction: column;
    justify-items: center;
    
    
    margin-bottom: 150px;
   
}

.generalmap svg{
    
    margin: auto;
    transform: scale(1);
    
   
    
    
}


/*--------------- contenedor del svg display none------------*/



.svgmap{
    
    max-width: 100vw;
    margin: auto;
    width: 300px;
    justify-content: center;
    display: none;
   
}

.generalmap p{
    display: block;
    max-width: 80vw;
    
    clear: both;
    font-family: var(--main_font--);
    font-weight: 400;
    font-size: large;
}


    .generalmap .soon {
        fill: var(--colorG--);
        cursor:not-allowed;
    }

    .generalmap .chosed{
        fill: var(--colorA--);
    }


/*--------------------configuracion mapa en telefono png -----------------------*/

    #mappng{
        margin: 0;
        max-width: 90vw;
        display: flex;

    }

    

    #aboutus{
        max-width: 80vw;
        font-family: var(--primary_font--);
        margin: auto;
        
    }

    footer{
        padding: 0 30%;
        margin-top: 0;

    }
    
 
    



    .whatsapp-btn {
        position: fixed;
        bottom: 15px;
        right: 15px;
        width: 8vh;
        padding: 10px;
        z-index: 10;
    }
    
    #brend{
        display: block;
    }


}

