@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Gobold';
    src: url(../font/Gobold\ Regular.otf);
    font-variation-settings: 'wght' 400, 'wdth' 100;
      
}


@font-face {
    font-family: "Myriad Variable Concept";
    src: url("https://db.onlinewebfonts.com/t/3a86b8ec8855002aad8b288eaba8915d.eot");
    src: url("https://db.onlinewebfonts.com/t/3a86b8ec8855002aad8b288eaba8915d.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/3a86b8ec8855002aad8b288eaba8915d.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/3a86b8ec8855002aad8b288eaba8915d.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/3a86b8ec8855002aad8b288eaba8915d.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/3a86b8ec8855002aad8b288eaba8915d.svg#Myriad Variable Concept")format("svg");
}

/* Todas las propiedades CSS */
:root{
    --main_font--:"Myriad Variable Concept", sans-serif;
    --secondary_font--:"Gobold", sans-serif;
    --primary_font--:  "Myriad Variable Concept", sans-serif;

    --colorA--:#436EAF;
    --colorN--: black;
    --colorG--:#6A6055;

    /*-------------------------COLOR PALLETE-------------------------*/
    
}


/* First line------------------------------------*/
*{
    box-sizing: border-box;
    font-family: var(--secondary_font--);
    text-decoration: none;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}


body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    
  }



  header{
    
    height: 12vh;;
    width: 100vw;
    background-color: var(--colorN--);
    align-items: center;
    display: flex;
    
   
    
}



nav{
    margin: 0;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: var(--colorN--);
    z-index: 20;
    flex-direction: row;
    width: 100vw;
    height: 12vh;;
    padding-right: 7vw;
}

#navdesk{

padding-top: 2px;
display: grid;
grid-auto-flow: column;
margin: 0;
gap: 3em;


}



    



nav a{
    
    
    display: flex;
    
    flex: 1;
    flex-grow: 1;
    color: var(--colorN--);
    
    font-family: var(--primary_font--);
    
    
}




.sidebar{
    position:fixed;
    top: 0;
    margin: 0;
    right: -130vw;
    height: 100vh;
    
    z-index: 999;
    background-color: var(--colorN--);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    font-size: 20px;
    opacity: 0.95;
    border-radius: 30px;

    transition: all 0.3s ease;
    
    
}

.sidebar--show{
    
    right: 0;
    border-radius: 0;
    
}





.sidebar li button,.sidebar li a {
    align-content: center;
    justify-content: center;
    transition: all 0.3s ease-in;
}




.menu-button{
    
display: none;


}

#closebar{
    display: flex;
    height: 10vh;
    width: 100vw;
    fill: var(--colorA--);
    align-items: center;
    justify-content: end;
    padding-right: 5vw;
}



button {
background: none;
cursor: pointer;
}




.hov{
    display: flex;
    color: white;
    
    border-style: none;
    border-bottom: 2px solid var(--colorN--);
    padding: 10px 10px;
    

    
}

.hov:hover {
    transition: 0.5s ease;
    border-bottom: 2px solid var(--colorA--);
    padding: 10px 10px;
    
}


.iconimg{
    max-height: 10vh;
    margin-top: 2vh;
    margin: 0 40px;
    padding: 3px;
    display: inline;
    
}






/*---------------------------------Principal----------------------*/

section{
    background-color: whitesmoke;
    margin: 0;
    padding: 1px;
 }





#portbackground{ /* DEfine images in background */
    display:grid;
    margin: 0;
    width: 100vw;
    height: 90vh;
    padding: 0;
    text-align: center;
    background-image: url(../images/carreteprincipal\ compr.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    grid-template-columns: 30vw 30vw;
    grid-template-rows: 20vw ;
    justify-content: center;
    align-content: center;
    
    
   
    
    
    
}

#logoprincipal {  /* define main text*/ 
    
    display: block;
    
   
    width: 20vw;
    
    
}


#portbackground div{
    color: white;
    justify-content: center;
    text-align: center;
    padding: 0px;
    align-content: center;
}

#subtitle{
font-family: var(--primary_font--) ;
font-weight: 500;

}


.maintext{
    margin: auto;
    padding: 0;
    display: inline;
    font-size: auto;

}

#rnsp{
    font-size:large;

}









h2{
    text-align: center;
    font-family: var(--primary_font--);
    margin: 0;
    padding: 2.5em;
    font-size: 2em;
    font-weight: 300;
    display: block;
}


#primertitulo{
    font-family: "Nunito", sans-serif;
    font-size: 30px;
    color: white;

}

#objh2{
    color: var(--colorA--);
    font-weight: 550;
    font-family: var(--secondary_font--);
    display: block;
}

#objetivo{  /* Objetivo de la empresa */
    width: 55vw;
    margin: 5em auto;
    text-align: center;
    font-family: var(--main_font--);
    line-height: 2.5em;
}

/* Services----------------------------*/

#aside_a {
    margin-top: 2em;
    display: grid;
    grid-auto-flow: row;
    align-items:start;
    justify-items: center;
    justify-content: space-evenly;
    
    
    grid-template-columns: 35vw 35vw ;
    grid-template-rows: auto ;
    
}

.box_services{

    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
    width: 25vw;
    
    
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    overflow: hidden;
    border-radius: 22px;
    position: relative;
    box-shadow: 0 0  50px rgba(0, 0, 0, 0.3) ;


    
}

.img_services{
    width: 80px;
    padding: 15px;
    display: inline;
    margin: 1rem;
    border: 2px solid var(--colorA--);
    border-radius: 50%;
   
    filter: hue-rotate(182) ;
    overflow: visible;

}



.descripiton_services{
    font-family: var(--secondary_font--);
    font-size: 1.4vw;
    text-align: center;
    
    fill: var(--colorA--);
    font-weight: 300;
    
   
}


.box_services ul{
    margin: 2rem 0;
    
    list-style-type: none;
    padding-left: 2rem;
    
    display: flex;
    
    flex-direction: column;
    
}




.box_services li{
    font-family: var(--main_font--);
    text-align: left;
    display: block;
    padding-left: 2rem;
    background-image: url(../images/viñeta.png);
    margin: 1em 0;
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    max-width: 230px;
    background-repeat: no-repeat;
}


.solitbutton{
   
    color: whitesmoke;
    text-align: center;
    font-family: var(--main_font--);
    font-weight: 700;
    cursor: pointer;
    margin: 2em;
    padding: 10px 15px 7px 15px;
    background-color: var(--colorA--);
    border-radius: 10px;
    box-shadow: 0 0  10px rgba(0, 0, 0, 0.3) ;
    transition: all 0.3s ease;

}

.solitbutton:hover{
    background-color: var(--colorG--);
}




/* ---------------------------------------titulo de ubicacion de envios */
#obj2h2{
    display: block;
    color: var(--colorA--);
    font-weight: 550;
    font-family: var(--secondary_font--);
    
    
    padding: 0;

}

.generalmap {
    display: grid;
    grid-template-columns: 50vw 50vw; 
    margin-top: 0;
    height: fit-content;
    padding: 0;
    
    justify-content: center;
    
    align-items: center;
    
  
  
   
}

.svgmap{
    margin: auto;
    display: flex;
    overflow: hidden;
    width: 600px;
    height: 600px;
    justify-items: center;
    align-items: center;
}



.generalmap svg{
    display: flex;
    margin: 20rem auto auto auto;
    transform: scale(4);
    justify-items: center;
    align-items: center;
    height: auto;
    width: 200px;
    background-color: none;
    
    
}

.generalmap path{
    fill: whitesmoke;
    stroke: var(--colorN--);
    stroke-width: 1px ;
    
}

.generalmap .soon:hover {
    transition: all 0.4s;
    fill: var(--colorG--);
    
}

.generalmap .chosed{
    transition: all 0.4s;
    fill: var(--colorA--);
}



.generalmap p{
    display: block;
   
    padding: 1em;
    width: 500px;
    font-family: var(--main_font--);
    font-weight: 400;
    font-size: large;
}


#span1{
    color: var(--colorA--);
    font-family: var(--main_font--);
    font-weight: 700;
}

#span2{
    color: var(--colorG--);
    font-family: var(--main_font--);
    font-weight: 700;
}


#mappng{
    display: none;
}


/* footer -----------------------------------*/

footer{
    background-color: var(--colorN--);
    
    
    
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    color: whitesmoke;
   
  
    
}

#aboutus{
    max-width: 700px;
    font-family: var(--primary_font--);
    margin: auto;
    
}

#aboutus p{
    font-family: var(--main_font--);
    font-size: large;
    line-height: 30px;
}

#aboutus img{
    display: flex;
    float: right;
    max-width: 22vw;
    padding: 1em;
    clear: both;
    border-radius: 20px;
}




#contactus{
    font-size:xx-large;
}

.socialmedia{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}



footer a{
    display: flex;
    align-items: center;
    max-width: 3vw;
    margin: 0 10px;

    
    fill: var(--colorG--);
    
    

}


#copyright{
    text-align: center;
    font-family: var(--main_font--);
}





#parraffooter{
    max-width: 400px;
    font-size: larger;
    line-height: 2;
    color: white;
    font-family: var(--primary_font--);
    text-align: left;
    
}

footer hr{
    margin: auto;
    width: 90vw;
    display: block;
    
}






/*----------------------Wtsp Button-----------------*/
.whatsapp-btn {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 5vw;
    background-color: #25D366; /* Color de WhatsApp */
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

.whatsapp-btn:hover {
    fill: #128C7E; /* Cambia el color al hacer hover */
}




/* When screen is on mobile--------------------------------- */
@media screen and (max-width: 550px)  {


    header,nav{
        height: 9.5vh;
        width: 100vw;
        position: fixed ;
        z-index: 50;
    }

   

    .hideonmobile{
        display: none;
    }

    
    .iconimg{
        max-height: 7vh;
        margin-top: 2vh;
        margin: 1em;
        margin-left: 2em;
        padding: 0;
    }


    .menu-button{
        display: flex;
        fill: var(--colorA--);
        
        }

    
    .hov{

    margin: 1em 0;
    
    }

/*-------PRINCIPAL-------------*/

#portbackground{ /* DEfine images in background */
    display:grid;
    margin: 0;
    width: 100vw;
    height: 95vh;
    padding: 0;
    text-align: center;
    
    background-size: cover;
    background-repeat: no-repeat;
    grid-template-columns: 80vw;
    grid-template-rows:  40vh 15vh;
    justify-items: center;
    align-items: center;
    
   
    
    
    
}

#logoprincipal {  /* define main text*/ 
    
    display: flex;
    
   
    width: 20vh;
    
    
}


#portbackground div{
    color: white;
    display: flex;
    width: 80vw;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0px;
    margin: auto;
}

.maintext{
   
    padding: 0;
    display: inline;
    font-size: auto;
    
}





    
/* Cuerpo -------------------------------*/

    #objetivo{
        width:80vw;
        margin: 2em auto 4em auto;
       
        display: block;
    }

    #aside_a{


    display: block;
    justify-content: center;
    clear: both;
        
    }


    section{
        padding: 10px;
        
    } 


    



    .box_services{
        display: flex;
        flex-direction: column;
        
       padding-top: 20px;
        width: 80vw;
        
        align-items: center;
        justify-content: center;
        margin: 4em auto;
        border-radius: 22px;
        
        position: relative;
        border: var(--field-drab) 0.5px solid;
        
      }


    .img_services{
        
            width: 80px;
            padding: 15px;
            display: inline;
            
            margin: auto;
            border: 2px solid var(--colorA--);
            border-radius: 50%;
           
            filter: hue-rotate(182) ;
            overflow: visible;
        
        
        
    }


    .descripiton_services{
        font-family: var(--secondary_font--);

        font-size: 3vh;
        text-align: center;
        margin: 1em auto 0 auto;
        display: inline;
        
        
    }



    .box_services ul{
        padding: 0;
        max-width: 65vw;

    }





/*-------------------MAPA------------------------*/

#obj2h2{
    margin-top: 0;
}


.generalmap{

    display: flex;
    
    flex-direction: column;
    justify-items: center;
    
    
    margin-bottom: 150px;
   
}

.generalmap svg{
    
    margin: auto;
    transform: scale(1);
    
   
    
    
}


/*--------------- contenedor del svg display none------------*/



.svgmap{
    
    max-width: 100vw;
    margin: auto;
    width: 300px;
    justify-content: center;
    display: none;
   
}

.generalmap p{
    display: block;
    max-width: 80vw;
    
    clear: both;
    font-family: var(--main_font--);
    font-weight: 400;
    font-size: large;
}


    .generalmap .soon {
        fill: var(--colorG--);
        cursor:not-allowed;
    }

    .generalmap .chosed{
        fill: var(--colorA--);
    }


/*--------------------configuracion mapa en telefono png -----------------------*/

    #mappng{
        margin: 0;
        max-width: 90vw;
        display: flex;

    }

    

    #aboutus{
        max-width: 80vw;
        font-family: var(--primary_font--);
        margin: auto;
        
    }


 
    footer a{
        display: flex;
        align-items: center;
        max-width: 4vh;
        margin: 0 10px;
    
        
        fill: var(--colorA--);
    }
        
    



    .whatsapp-btn {
        position: fixed;
        bottom: 15px;
        right: 15px;
        width: 8vh;
        padding: 10px;
        z-index: 10;
    }
    



}